{% extends "base_generic.html" %}

{% block content %}
<h2>Modificar cliente</h2>
<form>
    <fieldset>
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">DNI:</label>
            <input type="DNI" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ cliente_modificar.DNI }}">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">NOM:</label>
            <input type="NOM" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ cliente_modificar.nom }}">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">COGNOM:</label>
            <input type="COGNOM" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ cliente_modificar.cognom }}">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">DATA NAIXAMENT:</label>
            <input type="DATANAIX" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ cliente_modificar.DataNaix }}">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">TELEFON:</label>
            <input type="TELEFON" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ cliente_modificar.Telefon }}">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">DIRECCIO:</label>
            <input type="DIRECCIO" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ cliente_modificar.direccio }}">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">IBAN:</label>
            <input type="IBAN" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="{{ cliente_modificar.IBAN }}">
        </div>
        <button type="submit" class="btn btn-primary">Confirmación</button>
    </fieldset>
</form>

{% endblock %}